[Unit]
Description=Example service to watch with journal-watchdog
Wants=example-target.service

[Service]
Type=notify
ExecStart=/opt/journal-watchdog/journal-watchdog.js example-target.service
WatchdogSec=5
Restart=always
